<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        box-sizing: border-box;
      }
    </style>
  </head>

  <body>
    <!-- createe a comdition to show video exit-->
    <div class="container">
      <video controls width="500">
        <source src="<%= allvideos.imageUrl %>" type="video/mp4" />
    </video>
   <P><%=allvideos.imageName%></P> 
       
  </body>
</html>
